/**** Main style sheet for MM-Portfolio-Site ****/

/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {    margin:0;    padding:0;    border:0;    outline:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}
body {    line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {    display:block;}
nav ul {    list-style:none;}
blockquote, q {    quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {    content:'';    content:none;}
a {    margin:0;    padding:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}
/* change colours to suit your needs */ins {    background-color:#ff9;    color:#000;    text-decoration:none;}
/* change colours to suit your needs */mark {    background-color:#ff9;    color:#000;    font-style:italic;    font-weight:bold;}
del {    text-decoration: line-through;}
abbr[title], dfn[title] {    border-bottom:1px dotted;    cursor:help;}
table {    border-collapse:collapse;    border-spacing:0;}
/* change border colour to suit your needs */hr {    display:block;    height:1px;    border:0;    border-top:1px solid #cccccc;    margin:1em 0;    padding:0;}
input, select {    vertical-align:middle;}

/* Generic Styles */
body {
    font-family: Tahoma, 'Microsoft Sans Serif', Arial, sans-serif;
    background-color: #efecca;
}
.clear {
    clear: both;
    line-height: 1px;
}
.my-content {
    width: 980px;
    margin: 0 auto;
}
h1 {
    font-family: Orbitron, 'OCR A', 'Serpentine Sans ICG', sans-serif;
    font-size: 3em;
}
h2 {
    font-family: 'JLS Space GothicR', Orbitron, 'OCR A', 'Serpentine Sans ICG', sans-serif;
    font-size: 2em;
    
}
h3 {
    font-family: 'JLS Space GothicR', Orbitron, 'OCR A', 'Serpentine Sans ICG', sans-serif;
    font-size: 1.5em;
}
nav {
    background-color: #046380;
}
nav a {
    color: #D5C18B;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}
#header {
    background: url(../images/color-theme_240x5.jpg) repeat-x;
    background-color: #ffffff;
}
#my-job-title {
    color: #afad94;
    background-color: #002f2f;
}
#footer {
    height: 250px;
    color: #002f2f;
    background-color: #046380;
}
#footer .quote-source {
    font-style: italic;
    font-size: .8em;
    font-weight: bold;
}
